<!DOCTYPE html>
<html lang="en">

    <head>
        <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/javascripts/global.js"></script>

        <title>Da Mean</title>
    </head>

    <body>
        <div class="container">

          <div class="popular-bg">
            <h1>Da Most Popular Movies</h1>
            <!-- NEED THE ANGULAR LOGIC -->
            <!-- div .popular-movies -->
            <!-- top_movies -->
            <!-- top_movies each with index do item, index -->
            <!-- top_movies[index][title] -->
            <!-- top_movies[index][vote_average] -->
            <!-- top_movies[index][vote_count] -->

            </div>

        </div>
    </body>

</html>


