<!DOCTYPE html>
<html lang="en">

    <head>
        <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/javascripts/global.js"></script>

        <title>Da Mean</title>
    </head>

    <body>
        <div class="container">

          <div class="movie-bg">
            <h1>Da Movie Results</h1>

            <!-- div -->
            <!-- img class .movie-poster display image src as movie[Poster] -->

            <div class="movie-info">
                <!-- movie search api take 17 each do |k, v| -->
                <!-- skip if key == Poster -->
                <!-- display key and then movie[key] in new lines -->
            </div>
          </div>

        </div>
    </body>

</html>


