<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Da Mean</title>
  </head>
  <!-- <body ng-controller="myFactoryCtrl"> -->
  <body>

    <!-- <div> -->
    <div ng-controller="myFactoryCtrl">
      Enter a Movie: <input type="text" ng-model="data.movie" placeholder="A Beautiful Mind" ng-change="updateMovie()">
      <button ng-click="submitMovie()">Search for Movie</button>
      <!-- {{data.movieData}} -->

      <div class="movie-info" ng-repeat="(key, value) in data.movieData">
        <li>{{ key + ": " + value }}</li>
          <!-- movie search api take 17 each do |k, v| -->
          <!-- skip if key == Poster -->
          <!-- display key and then movie[key] in new lines -->
      </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="/javascripts/factory.js"></script>
  </body>
</html>
